* {
  color: white;
}

/* principal */
.principal {
  text-align: center;
  font-size: 30px;
  margin: 30px;
  padding: 30px;
}

.llamanos {
  color: black;
}

.icons-financiacion {
  display: flex;
  justify-content: space-around;
}

.parrafo {
  margin-top: 20px;
  font-size: 20px;
}

/* formulario */
.img-form {
  width: 100%;
  display: flex;
  gap: 100px;
  justify-content: center;
  padding-bottom: 80px;
}

.soloDni {
  width: 100%;
  max-width: 450px;
  height: auto;
  display: block;
  margin: 0 auto;
}

#miFormulario {
  padding: 20px;
  margin-bottom: 50px;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

label {
  display: block;
  margin-bottom: 5px;
}

label,
input,
button {
  display: block;
  margin-bottom: 10px;
  width: 100%;
}

button {
  width: auto;
  background: rgb(58, 95, 2);
  color: #fff;
  padding: 5px 20px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}


